extends layout

block content
    h1 Login Screen

    .container-fluid.mainContainer
        .text-center
            .row.d-flex.justify-content-center
                .col-md-4
                    .loginBox
                        form(method = "POST")
                            .form-group
                                label(for="userEmail") Email Address
                                input(type="email" name="username" placeholder="Enter Email").form-control.form-control-lg.text-center#userEmail
                            .form-group
                                label(for="userPassword") Password
                                input(type="password" name="password" placeholder="Enter Password").form-control.form-control-lg.text-center#userPassword
                            button(type="submit" formaction="/LoginScreen/auth").btn.btn-primary Login
                            .form-group
                            button(type="submit" formaction="/register").btn.btn-success Need an Account? Register!

        .errorMessage #{errorMessage}
