extends layout

block content



    .container-fluid.mainContainer
        h1 Login Screen
        form(action="/LoginScreen/auth" method = "POST")
            .form-group
                label(for="usernameInput") Email Address
                input(type="email" name="username" placeholder="Enter Email").form-control#userEmail
            .form-group
                label(for="password") Password
                input(type="password" name="password" placeholder="Enter Password").form-control#userPassword
            button(type="submit").btn.btn-primary Login
        .errorMessage #{errorMessage}
